@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

/* Убрать черную рамку */
a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 3%;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-text {
  color: var(--accent-color);
}

/* site nav and connection link */
.header-box {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.connection-link {
  display: flex;
  margin-left: auto;
}

.site-item:not(:first-child) {
  margin-left: 50px;
}

.site-item {
  position: relative;
}

.connection-link li:last-child {
  margin-left: 50px;
}

.svg-mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.svg-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link {
  color: var(--title-text-color);
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-link .link {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav link:hover, .site-nav link:focus {
  color: var(--accent-color);
  outline: none;
}

.connection-link .link:hover, .connection-link .link:focus {
  color: var(--accent-color);
  outline: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* hero */
.hero {
  min-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/backgroun_hero.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 100%;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-bottom: 30px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

/* button */
.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
}

/* Преимущества */
/* feature */
.feature-title {
  margin-bottom: 10px;
}

.feature-list {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .feature-list:not(:first-child) {
    margin-left: 30px;
  }
}

.feature-list-item {
  width: 450;
}
.feature-list-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature-list-item {
    width: 354px;
  }
  .feature-list-item:not(:last-child) {
    margin-bottom: unset;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list-item {
    width: 270px;
  }
}

.icon-antenna::before {
  background-image: url(../images/index/antenna1.png);
}

.icon-clock::before {
  background-image: url(../images/index/clock2.png);
}

.icon-diagram::before {
  background-image: url(../images/index/diagram3.png);
}

.icon-astronaut::before {
  background-image: url(../images/index/astronaut4.png);
}

.icon-astronaut::before,
.icon-diagram::before,
.icon-clock::before,
.icon-antenna::before {
  display: inline-block;
  width: 100%;
  height: 120px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list .feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-list .feature-title {
    text-align: unset;
  }
}

.feature-list .feature-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* сфера деятельности */
.work {
  padding-bottom: 94px;
}

.section-title-work {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  display: block;
  position: relative;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

.work-item-subtitle {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 82px;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate();
}

/* Команда */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-item:not(:first-child) {
  margin-left: 30px;
}

.section-title-team {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitle {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.person-networks {
  display: flex;
  justify-content: center;
  padding: 0 32px;
  margin-top: 16px;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.person-networks li:not(:last-child) {
  margin-right: 10px;
}

.linkedin:hover,
.facebook:hover,
.twitter:hover,
.instagram:hover {
  background-color: #2196f3;
}

.linkedin:focus,
.facebook:focus,
.twitter:focus,
.instagram:focus {
  background-color: #2196f3;
}

.linkedin:hover svg,
.facebook:hover svg,
.twitter:hover svg,
.instagram:hover svg {
  fill: #ffffff;
}

.linkedin:focus svg,
.facebook:focus svg,
.twitter:focus svg,
.instagram:focus svg {
  fill: #ffffff;
}

.linkedin,
.facebook,
.instagram,
.twitter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.person-networks li {
  width: 44px;
  height: 44px;
}

.person-networks svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

/* Клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title-clients {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients-list {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-list li {
  width: 170px;
  height: 90px;
  margin-right: 30px;
}

.clients-list .company-fruits-svg {
  width: 41px;
  height: 43px;
}

.clients-list .foster-peters-svg {
  width: 80px;
  height: 42px;
}

.clients-list .icon-brand-svg {
  width: 59px;
  height: 47px;
}

.clients-list .icon-build-svg {
  width: 88px;
  height: 45px;
}

.clients-list svg {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-build,
.icon-brand,
.foster-peters,
.company-fruits,
.company-tagline,
.ya-and-co {
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-build:hover,
.icon-brand:hover,
.foster-peters:hover,
.company-fruits:hover,
.company-tagline:hover,
.ya-and-co:hover {
  border-color: #2196f3;
}

.icon-build:focus,
.icon-brand:focus,
.foster-peters:focus,
.company-fruits:focus,
.company-tagline:focus,
.ya-and-co:focus {
  border-color: #2196f3;
}

.icon-build:hover svg,
.icon-brand:hover svg,
.foster-peters:hover svg,
.company-fruits:hover svg,
.company-tagline:hover svg,
.ya-and-co:hover svg {
  fill: #2196f3;
}

.icon-build:focus svg,
.icon-brand:focus svg,
.foster-peters:focus svg,
.company-fruits:focus svg,
.company-tagline:focus svg,
.ya-and-co:focus svg {
  fill: #2196f3;
}

/* Футер */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-conteiner {
  display: flex;
}

.addres-boks {
  margin-right: 70px;
}

.logo-part {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.address-text {
  color: #ffffff;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

.address-link-text {
  display: block;
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

/* Часть с networks */
.netwoks-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 9px;
  margin-bottom: 20px;
}

.networks-list li:not(:last-child) {
  margin-right: 10px;
}

.networks-list {
  display: flex;
  fill: #ffffff;
}

.networks-list li {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-list li:hover {
  background-color: #2196f3;
}

.networks-list a:focus {
  background-color: #2196f3;
}

.networks-list a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.networks-list svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* часть инпут с кнопкой */
.subscription {
  margin-left: 95px;
  padding-top: 9px;
}

.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 20px;
}

.subscription-box {
  padding: 0;
}

.email-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
}

.button-subscribe {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 6%;
  color: #ffffff;
  position: relative;
  padding-left: 29px;
  margin-left: 10px;
  cursor: pointer;
}

.subscription svg {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
  margin-top: 3px;
}

/* Портфолио */
.main-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Фильтр */
.button-text {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item {
  margin-left: 8px;
}

.button-item:first-child {
  margin-left: 0;
}

.button-text:focus, .button-text:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Проекты */
.projects-list li:hover, .projects-list li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list a:focus {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-subtitle {
  padding: 20px 24px;
}

.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.projects-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.projects-link {
  display: inline-block;
  text-decoration: none;
}

.fon-box {
  position: relative;
}

.overlay-text {
  color: #ffffff;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 63px 24px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background: rgba(33, 150, 243, 0.9);
}

.projects-link:focus .overlay-text, .projects-link:hover .overlay-text {
  opacity: 1;
  top: 0%;
}

/* Модальное окно  */
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
}

.button-close .icon-close-svg {
  display: block;
  width: 11px;
  height: 11px;
  fill: black;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close .icon-close-svg:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

form {
  padding-left: 40px;
  padding-right: 40px;
}

.icon-input {
  position: relative;
}

.man-svg,
.phone-svg,
.post-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
}

label {
  display: block;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 1%;
  color: #757575;
}

label:first-child {
  padding-top: 12px;
  padding-bottom: 4px;
}

.input-box .input-style {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
}

.icon-input .post-svg {
  width: 15px;
  height: 12px;
}

.icon-input .phone-svg {
  width: 13px;
  height: 13px;
}

.input-style + svg {
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.input-style:focus {
  border-color: var(--accent-color);
}

.input-style:focus + svg {
  fill: var(--accent-color);
}

textarea:focus {
  border-color: var(--accent-color);
}

textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  margin-bottom: 30px;
}

.check-label {
  position: relative;
  padding-left: 25px;
}

.check-label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  left: 0;
}

.check:checked + .check-label:before {
  background-color: var(--accent-color);
  background-image: url("../images/icon3/mark.svg");
  border-color: var(--accent-color);
  background-repeat: no-repeat;
}

.check:focus + .check-label:before {
  border-color: var(--accent-color);
}

.send-form {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  border: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */