.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;

  color: #000000;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  font-family: Raleway, sans-serif;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-text {
  color: var(--accent-color);
}

// Menu

.button-menu {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;
  margin: 10px 10px 10px 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu .button-icon {
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.button-icon {
  width: 24px;
  height: 16px;
}

/* site nav, connection link*/

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.connection-link {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.site-item:not(:first-child) {
  margin-left: 50px;
}

.site-item {
  position: relative;
}

.connection-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.connection-link {
  @media screen and (min-width: 1200px) {
    li {
      &:last-child {
        margin-left: 50px;
      }
    }
  }
}

.svg-mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.svg-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link {
  color: var(--title-text-color);

  display: block;
  padding-top: 40px;
  padding-bottom: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-link .link {
  color: var(--primary-text-color);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav {
  .link {
    &:hover,
    &:focus {
      color: var(--accent-color);
      outline: none;
    }
  }
}

.connection-link {
  .link {
    &:hover,
    &:focus {
      color: var(--accent-color);
      outline: none;
    }
  }
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  .link.current {
    &::before {
      content: "";
      position: absolute;
      left: 0%;
      bottom: 0%;
      width: 100%;
      height: 4px;

      background: #2196f3;
      border-radius: 2px;
    }
  }
}
