/* hero */
.hero {
  min-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/backgroun_hero.jpg);
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 1200px) {
    max-width: 100%;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-bottom: 30px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

/* button */

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  width: 200px;
  height: 50px;

  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
}
