/* Портфолио */

.main-projects {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Фильтр */

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.button-text {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: unset;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 8px;
    &:not(:last-child) {
      margin-right: unset;
    }
  }
}

.button-item {
  &:first-child {
    margin-left: 0;
  }
}

.button-text {
  &:focus,
  &:hover {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}
