/* Команда */

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: unset;
    &:not(:first-child) {
      margin-left: 30px;
    }
    width: 270px;
    margin-bottom: unset;
  }
}
.list-item img {
  width: 100%;
}

.section-title-team {
  color: var(--title-text-color);

  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.team-box {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-subtitle {
  color: var(--title-text-color);

  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
}

.person-networks {
  display: flex;
  justify-content: center;
  padding: 0 32px;
  margin-top: 16px;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.person-networks {
  @media screen and (min-width: 1200px) {
    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.linkedin,
.facebook,
.twitter,
.instagram {
  &:hover {
    background-color: #2196f3;
  }
}

.linkedin,
.facebook,
.twitter,
.instagram {
  &:focus {
    background-color: #2196f3;
  }
}

.linkedin,
.facebook,
.twitter,
.instagram {
  &:hover {
    svg {
      fill: #ffffff;
    }
  }
}

.linkedin,
.facebook,
.twitter,
.instagram {
  &:focus {
    svg {
      fill: #ffffff;
    }
  }
}

.linkedin,
.facebook,
.instagram,
.twitter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.person-networks li {
  width: 44px;
  height: 44px;
}

.person-networks svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}
